# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# OS or Editor files
.DS_Store
Thumbs.db
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and backups
*.log
*.bak
*.swp

# Output files
dist/
build/
